@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Witryna pozyskuje dane osobowe w celu zapewnienia usług, dostosowania treści oraz analizy działania strony w celu poprawy jej jakości i funkcjonalności.</p>

<p>Zebranie danych może nastąpić poprzez formularze rejestracyjne, cookies, logi serwera oraz inne technologie śledzenia. Mogą być gromadzone dane takie jak adres IP, dane geolokalizacyjne, informacje o przeglądarce i systemie operacyjnym.</p>

<p>Administratorem danych osobowych jest firma AdoptujMnie</p>

<p>Przetwarzanie danych osobowych może obejmować gromadzenie informacji podczas rejestracji konta użytkownika na witrynie, takich jak adres e-mail, login oraz hasło. Celem jest również analizowanie zachowań użytkowników na witrynie, zbierania statystyk, analizy trendów, doskonalenia usług oraz podejmowania decyzji dotyczących udoskonalania działania witryny. Przetwarzanie także zapewnia bezpieczeństwo witryny oraz zapobiega nadużyciom lub działaniom niezgodnym z regulaminem.</p>

<p>W przypadku uzyskania odpowiedniej zgody użytkowników, dane osobowe mogą być przetwarzane w celach marketingowych. Przykładem może być reklamowanie usług shcroniska.</p>

<p>Z właścicielem witryny można skontaktować się za pomocą numeru telefonu +48 24 366 41 00, lub mailowo, wysyłając wiadomość na adres schronisko@adoptujmnie.pl</p>

<p>
    Skonfigurowanie przeglądarki internetowej w taki sposób, aby nie zapisywała plików cookies, może różnić się w zależności od używanej przeglądarki. Poniżej przedstawione są ogólne kroki na przykładzie Google Chrome, które należy podjąć:
</p>
<ul>
    <li>
        1. Otwórz przeglądarkę Google Chrome.
    </li>
    <li>
        2. Kliknij trzy kropki w prawym górnym rogu okna przeglądarki, aby otworzyć menu.
    </li>
    <li>
        3. Wybierz opcję "Ustawienia".
    </li>
    <li>
        4. Przewiń stronę w dół i kliknij "Zaawansowane".
    </li>
    <li>
        5. W sekcji "Prywatność i bezpieczeństwo" kliknij "Ustawienia treści".
    </li>
    <li>
        6. W sekcji "Cookies" wybierz opcję "Zablokuj wszystkie" lub włącz przełącznik "Zablokuj pliki cookie stron trzecich".
    </li>
</ul>