@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="loginPartial">
@if (SignInManager.IsSignedIn(User))
{
@*    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cześć @User.Identity?.Name!</a>
    </li>*@
@*    <li>Jesteś zalogowany!</li>
    <li>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit">Wyloguj</button>
        </form>
    </li>*@
    <li class="nav-item dropdown">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Jesteś zalogowany!
         </a>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button class="logout" type="submit" style="display: none;">Wyloguj!</button>
                    <a href="#" onclick="document.forms[0].submit(); return false;">Wyloguj!</a>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
    </li>
}
</ul>