@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na podany adres email został wysłany link do resetu hasła.
</p>
