@model Schronisko.Models.AdoptionForm

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
<h1 class="oswald">Edit</h1>
<h4>AdoptionForm</h4>
<hr />

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormId" />
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <input asp-for="AnimalId" class="form-control" />
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentUserName" class="control-label"></label>
                <input asp-for="CurrentUserName" class="form-control" />
                <span asp-validation-for="CurrentUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer1" class="control-label"></label>
                <input asp-for="Answer1" class="form-control" />
                <span asp-validation-for="Answer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer2" class="control-label"></label>
                <input asp-for="Answer2" class="form-control" />
                <span asp-validation-for="Answer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer3" class="control-label"></label>
                <input asp-for="Answer3" class="form-control" />
                <span asp-validation-for="Answer3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer4" class="control-label"></label>
                <input asp-for="Answer4" class="form-control" />
                <span asp-validation-for="Answer4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer5" class="control-label"></label>
                <input asp-for="Answer5" class="form-control" />
                <span asp-validation-for="Answer5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer6" class="control-label"></label>
                <input asp-for="Answer6" class="form-control" />
                <span asp-validation-for="Answer6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer7" class="control-label"></label>
                <input asp-for="Answer7" class="form-control" />
                <span asp-validation-for="Answer7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer8" class="control-label"></label>
                <input asp-for="Answer8" class="form-control" />
                <span asp-validation-for="Answer8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer9" class="control-label"></label>
                <input asp-for="Answer9" class="form-control" />
                <span asp-validation-for="Answer9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer10" class="control-label"></label>
                <input asp-for="Answer10" class="form-control" />
                <span asp-validation-for="Answer10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer11" class="control-label"></label>
                <input asp-for="Answer11" class="form-control" />
                <span asp-validation-for="Answer11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer12" class="control-label"></label>
                <input asp-for="Answer12" class="form-control" />
                <span asp-validation-for="Answer12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer13" class="control-label"></label>
                <input asp-for="Answer13" class="form-control" />
                <span asp-validation-for="Answer13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer14" class="control-label"></label>
                <input asp-for="Answer14" class="form-control" />
                <span asp-validation-for="Answer14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer15" class="control-label"></label>
                <input asp-for="Answer15" class="form-control" />
                <span asp-validation-for="Answer15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer16" class="control-label"></label>
                <input asp-for="Answer16" class="form-control" />
                <span asp-validation-for="Answer16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer17" class="control-label"></label>
                <input asp-for="Answer17" class="form-control" />
                <span asp-validation-for="Answer17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer18" class="control-label"></label>
                <input asp-for="Answer18" class="form-control" />
                <span asp-validation-for="Answer18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer19" class="control-label"></label>
                <input asp-for="Answer19" class="form-control" />
                <span asp-validation-for="Answer19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer20" class="control-label"></label>
                <input asp-for="Answer20" class="form-control" />
                <span asp-validation-for="Answer20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer21" class="control-label"></label>
                <input asp-for="Answer21" class="form-control" />
                <span asp-validation-for="Answer21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer22" class="control-label"></label>
                <input asp-for="Answer22" class="form-control" />
                <span asp-validation-for="Answer22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer23" class="control-label"></label>
                <input asp-for="Answer23" class="form-control" />
                <span asp-validation-for="Answer23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer24" class="control-label"></label>
                <input asp-for="Answer24" class="form-control" />
                <span asp-validation-for="Answer24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
